#title {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 48px;
}

body {
  background-color: teal;
}

#recipeSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  height: 500px;
}

button {
  background-color: teal;
  width: 400px;
  height: 60px;
}

a {
  text-decoration: none;
  color: white;
}

#RecipeSpecifics div {
  padding: 5px;
}

li {
  display: inline;
}

#categorySpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  height: 200px;
  width: 800px;
}

#categorySpecifics div {
  padding: 20px;
  border-radius: 25px;
}

.inputDiv {
  display: flex;
  justify-content: center;
}

#searchSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 800px;
}

#searchInput {
  width: 200px;
}

#recipeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#recipeCards .recipeName {
  font-size: 50px;
  text-align: center;
}

#recipeCards .recipeImage {
  height: 300px;
  width: 300px;
}

#recipeCards .recipeSource {
  text-decoration: underline;
  color: black;
}

#recipeCards div {
  padding: 10px;
  width: 800px;
  border-radius: 25px;
}

.recipeInfo {
  background-color: white;
  text-align: center;
}

#areaSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  height: 200px;
  width: 800px;
}

#letterSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 800px;
}

#idSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
