#title {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 48px;
}

body {
  background-color: teal;
}

#recipeSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  height: 400px;
}

button {
  background-color: teal;
  width: 400px;
  height: 60px;
}

a {
  text-decoration: none;
  color: white;
}

#selectButton {
  font-size: 28px;
}

#RecipeSpecifics div {
  padding: 5px;
}

#cards {
  background-color: white;
  display: flex;
  padding: 20px;
  border-radius: 25px;
  margin: 60px;
}

#cards .recipeName {
  font-size: 50px;
  text-align: center;
}

#cards .recipeImage {
  height: 400px;
  width: 400px;
}

#cards .recipeDiv {
  display: flex;
  flex-direction: row;
}

#cards .recipeDiv p {
  padding: 10px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: bold;
}

li {
  display: inline;
}

#cards .recipeDiv ul {
  padding-left: 60px;
  font-size: 20px;
}

#cards #recipesource {
  text-decoration: underline;
  color: black;
}

#categorySpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  height: 400px;
}

#categorySpecifics div {
  padding: 20px;
}

#searchSpecifics {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchInput {
  width: 200px;
}

#recipeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#recipeCards .recipeName {
  font-size: 50px;
  text-align: center;
}

#recipeCards .recipeImage {
  height: 300px;
  width: 300px;
}

#recipeCards div {
  padding: 10px;
  max-width: 800px;
}

.recipeInfo {
  background-color: white;
  text-align: center;
}
